<template name="postItem">
  <div class="post">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle" src="{{userImage}}"/>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{author}}</h4>
        <h6>{{submitted}}</h6>
      </div>
    </div>
    <div class="post-content">
      <p><img src="{{imageURL}}" alt=""></p>
        <div class="post-controlls">
          <a href="#" class="upvote btn btn-default {{upvotedClass}}">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">&nbsp;</span>{{votes}}
          </a>
          <a href="{{pathFor 'postPage'}}" class="btn btn-default">
            <span class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp;</span>{{commentsCount}}
          </a>
        </div>
      </div>
  </div>
</template>
