<template name="postEdit">
  <form class="main form page">
     <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <span class="image-url" hidden></span>
          <input type='file' id="imgInp" accept="image/*" />
          <img id="imageupload" src="../img/photo_upload.jpg" alt="..." style="margin-top: 5px;">
        </div>
      </div>
    </div>
    <input type="submit" value="Save change" class="btn btn-primary submit"/>
    <input type="button" value="Cancel" class="btn btn-primary cancel"/>
  </form>
</template>
